Community_API/.vs
Community_API/Community_API/bin
Community_API/Community_API/obj
Community_API/Community_API.Database/bin
Community_API/Community_API.Database/obj
Community_API/Community_API.DTO/bin
Community_API/Community_API.DTO/obj
Community_API/Community_API.Repository/bin
Community_API/Community_API.Repository/obj
